<br>
<br>
<div class="container">

    <div class="center" >
    <img src="../../assets/images/Axis_Bank_logo.svg.png" alt="" srcset="">
    
    <br>
   
    <BR>
        <BR>
            <input type="email" class="form-control" id="user" placeholder="User name">
            <br>
            <br>
            <input type="email" class="form-control" id="acc" placeholder="Account number">
            <br>
            <br>
            <input type="password" class="form-control" id="password" placeholder="password">
            <br>
            <br>
            <button type="button" onclick="reg()" class="btn btn-primary btn-lg">SIGN IN</button>

        <br>
        <br>
        <a href="http://">Forget password</a> or <a href="./login.html">login</a>
            
            

</div>
