
 <br>
 <br>
 <div class="container">

     <div class="center" >
         
         
        
         <img src="../../assets/images/Axis_Bank_logo.svg.png" alt="" srcset="">
         <br>
         <BR>
         

         <h6>{{aim}}</h6>
       
         <BR>
             <BR>

              
               
                 
                
                 <input type="email"  [(ngModel)]="acno" class="form-control" id="logac" [placeholder]="account">
                 <br>
                 <br>
                 <input type="password" [(ngModel)]= "pswd"  class="form-control" id="logpass" placeholder="password">
                 <br>
                 <br>
                 <button type="button" (click)="login()" class="btn btn-primary btn-lg">login</button>
 
             <br>
             <br>
             <a routerLink="signin"> SIGN IN</a></div></div>
 