<br>
<br>
<button class="btn btn-warning btn-lg"style="float:right;" (click)="logout()">Logout </button>
<button class="btn btn-danger btn-lg"style="float:right;" (click)="delete()">delete </button>
<form [formGroup]="depositForm">
<div class="parent">
    <div><h2>HI {{USER}}</h2></div>
    <a routerLink="/transaction">TRANSACTION HISTORY</a>
    <br>
    <h4>System date and time:{{sdate|date:'short'}}</h4>

   <app-delete [item]="acno" (onCancel)="onCancel()"></app-delete>
    <div class="child" [ngClass]="acno?'style1':''">
        <br>
<br>

<div class="container">

    <div class="center" >
    <img src="../../assets/images/Axis_Bank_logo.svg.png" alt="" srcset="">
    <BR>
        <br>

    <h2> DEPOSIT</h2>
    
    <br>
   
  
           
            
            <input type="email"  formControlName="acno" class="form-control" id=" depoacc" placeholder="Account number">
            <br>
            <div  *ngIf="this.depositForm.get('acno')?.errors &&this.depositForm.get('acno')?.touched" style="color:red">Invalid account number</div>
            <br>
            <br>
            <input type="password"  formControlName="pswd" class="form-control" id="depopassword" placeholder="password">
            <br>
            <div  *ngIf="this.depositForm.get('pswd')?.errors &&this.depositForm.get('pswd')?.touched" style="color:red">Invalid password</div>
            <br>
            <input type="email"   formControlName="amount" class="form-control" id="depoamount" placeholder="amount">
            <BR>
                <div  *ngIf="this.depositForm.get('amount')?.errors &&this.depositForm.get('amount')?.touched" style="color:red">Invalid amount</div>
                <BR>

            <button type="button" (click)="deposit()" class="btn btn-primary btn-lg">DEPOSIT</button>
            <br>

       
        <!-- <a href="http://">Forget password</a> or <a routerLink="" >login</a> -->
            
            

</div>






    </div>
    </div>



    <div class="child" [ngClass]="acno?'style1':''">
        <br>
        <br>
        <div class="container">
        
            <div class="center" >
            <img src="../../assets/images/Axis_Bank_logo.svg.png" alt="" srcset="">
            
            <br>
           
            <BR>
                <form [formGroup]="withdrawForm">
                <BR>
                   <h2> WITHDRAW</h2>
                   <br>

                   
                    
                    <input type="email"  formControlName="acno1" class="form-control" id=" withacc" placeholder="Account number">
                    <br>
                    <div  *ngIf="this.withdrawForm.get('acno1')?.errors &&this.withdrawForm.get('acno1')?.touched" style="color:red">Invalid account number</div>
                    <br>
                    <br>
                    <input type="password" formControlName="pswd1" class="form-control" id="withpassword" placeholder="password">
                    <br>
                    <div  *ngIf="this.withdrawForm.get('pswd1')?.errors &&this.withdrawForm.get('pswd1')?.touched" style="color:red">Invalid password</div>
                    <br>
                    <input type="email"  formControlName="amount1" class="form-control" id="withamount" placeholder="amount">
                    <BR>
                        <div  *ngIf="this.withdrawForm.get('amount1')?.errors &&this.withdrawForm.get('amount1')?.touched" style="color:red">Invalid amount</div>
        
                    <button type="button" (click)="withdraw()" class="btn btn-primary btn-lg">WITHDRAW</button>
        
                <br>
                <br>
            </form>
                <!-- <a href="http://">Forget password</a> or <a routerLink="" >login</a> -->
                    
                    
        
        </div>
        
        
        
        
        
        
            </div>
        



    </div>



</div>
